{% extends "base.html" %}
{% block title %} Products {% endblock%}
{% block content %}
<div>
  <div>

    <form method="post" action="/add_products">
      <div class="mb-3"  style="width: 20%;">
        <label for="exampleInputEmail1" class="form-label">Product Name</label>
        <input type="text" class="form-control" name="product" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3"  style="width: 20%;">
        <label for="exampleInputPassword1" class="form-label">Buying price</label>
        <input type="number" class="form-control" name="buying_price" id="exampleInputPassword1">
      </div>
      <div class="mb-3" style="width: 20%;">
        <label for="exampleInputPassword1" class="form-label">Selling price</label>
        <input type="number" class="form-control" name="selling_price" id="exampleInputPassword1">
      </div>
     
      <button type="submit" class="btn btn-primary">Add Product</button>
    </form>

  </div>
  


  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Product Id</th>
          <th scope="col">Product name</th>
          <th scope="col">Buying Price</th>
          <th scope="col">Selling Price</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td>{{product[0]}}</td>
          <td>{{product[1]}}</td>
          <td>{{product[2]}}</td>
          <td>{{product[3]}}</td>
        </tr>

        {% endfor %}


      </tbody>
    </table>
  </div>

</div>
{% endblock %}